*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    width: 90%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.product{
    width: calc(100%/3);
    float: left;
    margin-bottom: 30px;
    border: solid 5px white;
    position: relative;
}
.image{
    width: 100%;
    object-fit: cover;
}
h6{
    color: grey;
}
.item{
    font-weight: bold;
    display: block;
}
.price{
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.old-price{
    color: grey;
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through;
}
.heart{
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0; 
    font-size: 20px;
    padding: 6px 10px;
    z-index: 100;
}